.navbar-container{
    background-color:#4E4E4E;
    position: sticky;
    padding: 10px;
    top: 0px;
}
.main-navBar{
    margin: 0 auto;
    position: sticky;
    top: 0px;
}
.navBar a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    margin:0 auto;
}